  header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
    }
    div{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    h1{
        color: #6C63FF;
    }
     div span{
        text-decoration: none;
        color: black;
        
        opacity: 0.7;
        font-size: 18px;
        
        margin-top: 10px;
        margin-left: 20px;
    }
button{
    border-radius: 6px;
    padding: 8px;
    color: white;
    background-color: #6C63FF; 
    margin-left: 5px;
    border: none;
    margin-right: 80px;
}
@media screen and (max-width:1024px) {
   header{
        padding: 16px;
    }

    header div{
        gap: 24px;
    }

    header div span{
        font-size: 16px;
        margin-left: 10px;
    }

    button{
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    header div{
        flex-direction: row;
        gap: 12px;
    }

    header div span{
        margin: 0;
        font-size: 16px;
    }

    button{
        margin: 0;
        width: 100%;
        max-width: 100px;
    }
