*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background: #0f172a;
    color: #cbd5e1;
    font-family: Arial, sans-serif;
}

.footer-top{
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;

    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-brand{
    flex: 2;
    min-width: 220px;
}

.logo{
    color: #6366f1;
    font-size: 22px;
    margin-bottom: 10px;
}

.desc{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.social i{
    margin-right: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.social i:hover{
    color: #6366f1;
}

.footer-col{
    flex: 1;
    min-width: 160px;
}

.footer-col h3{
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col ul li:hover{
    color: #6366f1;
}

.contact li{
    cursor: default;
}

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 13px;
    color: #94a3b8;
}

@media (max-width: 1024px){
    .footer-top{
        justify-content: center;
        gap: 40px;
    }

    .footer-brand{
        flex: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-col{
        flex: 1 1 30%;
        text-align: center;
    }

    .footer-bottom{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}


@media (max-width: 768px){
    .footer-col{
        flex: 1 1 45%;
    }

    .footer-top{
        padding: 40px 20px;
    }

    .logo{
        font-size: 20px;
    }

    .desc{
        font-size: 13px;
    }
}
